{% extends "common/base.html" %}
{% block title %}Photos{% endblock %}
{% load static %}
{% load hitcount_tags %}

{% block content %}
  <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}">
    <form class="d-flex tm-search-form" method="get" action="{% url 'gallery:search' %}">
      <input class="form-control tm-search-input" type="search" name="query" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success tm-search-btn" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  <div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
      {% if tag %}
        <h2 class="col-6 tm-text-primary">
          Photos tagged with "{{ tag.name }}"
        </h2>
      {% else %}
        <h2 class="col-6 tm-text-primary">
          Latest Photos
        </h2>
      {% endif %}
      <div class="col-6 d-flex justify-content-end align-items-center">
        <form action="" class="tm-text-primary">
          Page <input type="number" value="{{ photo_list.number }}" min="1" max="{{ photo_list.paginator.num_pages }}" class="tm-input-paging tm-text-primary" id="pageInput"> of {{ photo_list.paginator.num_pages }}
        </form>
      </div>
    </div>
    <div class="row tm-mb-90 tm-gallery">
      {% for photo in photos %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <div class="card">
            <figure class="effect-ming tm-video-item">
              <img src="{{ photo.photo.url }}" alt="{{ photo.title }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
              <figcaption class="d-flex align-items-center justify-content-center">
                <h2>{{ photo.caption }}</h2>
                <a href="{{ photo.get_absolute_url }}">View more</a>
              </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
              <span class="tm-text-gray-light">{{ photo.created_at|date:"d M Y" }}</span>
              {% comment %} <span>{{ photo.views }} views</span> {% endcomment %}
              <span>{% get_hit_count for photo %} views</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div> <!-- row -->

    {% include "gallery/pagination.html" with page=photo_list %}

  </div>

  <script>
    function handleKeyPress(event) {
      if (event.key === "Enter") {
        // Prevent the default behavior of the "Enter" key
        event.preventDefault();

        // Retrieve the page number value
        let pageNumberValue = document.querySelector("#pageInput").value;

        // Redirect to the URL corresponding to the entered page number
        location.href = "{% url "gallery:photo_list" %}?page=" + pageNumberValue;
      }
    }
    
    document.querySelector("#pageInput").addEventListener("keydown", handleKeyPress);
  </script>
  {% comment %} TODO: PREVENT PAGE FROM RELOADING {% endcomment %}
{% endblock %}