{% extends "common/base.html" %}
{% block title %}Submit Photo{% endblock %}

{% block content %}
<div class="container-fluid tm-mt-60">
  <div class="row tm-mb-50">
    <div class="col-lg-4 col-12 mb-5">
      <div class="form-group tm-text-right">
        <button id="js-go-back-btn" type="button" class="btn btn-dark">Go back</button>
      </div>
      <form action="{% url "gallery:submit_photo" %}" method="post" enctype="multipart/form-data" class="tm-contact-form mx-auto">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}

        <div class="form-group tm-text-right">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>                
    </div>
    
  </div>
</div> <!-- container-fluid, tm-container-content -->

<script>
  document.getElementById("js-go-back-btn").addEventListener("click", () => {
    // Redirect to homepage
    location.href = "{% url "gallery:home" %}";
  });
</script>
{% endblock %}