{% extends "common/base.html" %}
{% block title %}Catalog-Z{% endblock %}
{% load static %}

{% block content %}
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}">
  <form class="d-flex tm-search-form">
    <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success tm-search-btn" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">
      Explore Categories
    </h2>
  </div>
  <div class="row tm-mb-90 tm-gallery">
    {% for category in categories %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <figure class="effect-ming tm-video-item">
            <img src="{{ category.image_url }}" alt="{{ category.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <figcaption class="d-flex align-items-center justify-content-center">
              <h2>{{ category.name }}</h2>
              <a href="{% url "gallery:category_detail" slug=category.slug %}">View more</a>
            </figcaption>                    
          </figure>
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
    
    {% if trending_photos %}
    <div class="col-12">
      <h2 class="col-6 tm-text-primary">Trending Photos</h2>
    </div>
    {% for photo in trending_photos %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <figure class="effect-ming tm-video-item">
            <img src="{{ photo.photo.url }}" alt="{{ photo.title }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <figcaption class="d-flex align-items-center justify-content-center">
              <h2>{{ photo.caption }}</h2>
              <a href="photo-detail.html">View more</a>
            </figcaption>                    
          </figure>
          <div class="card-body">
            <h5 class="card-title">{{ photo.title }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}

    <div class="col-12">
      <h2 class="col-6 tm-text-primary">Latest Photos</h2>
    </div>
    {% for photo in latest_photos %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <figure class="effect-ming tm-video-item">
            <img src="{{ photo.photo.url }}" alt="{{ photo.title }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <figcaption class="d-flex align-items-center justify-content-center">
              <h2>{{ photo.caption }}</h2>
              <a href="photo-detail.html">View more</a>
            </figcaption>                    
          </figure>
          <div class="card-body">
            <h5 class="card-title">{{ photo.title }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div> <!-- row -->

</div> <!-- container-fluid, tm-container-content -->

{% endblock %}

{% comment %} TODO: ADD INFINITE SCROLL {% endcomment %}
