{% extends "common/base.html" %}
{% block title %}Catalog-Z{% endblock %}
{% load static %}

{% block content %}
{% if query %}
<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row mb-4">
    <h1 class="col-6 tm-text-primary">{{ query }}</h1>
  </div>
  <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">
      Categories
    </h2>
  </div>
  <div class="row tm-mb-90 tm-gallery">
    {% for category in categories %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <figure class="effect-ming tm-video-item">
            <img src="{{ category.image_url }}" alt="{{ category.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <figcaption class="d-flex align-items-center justify-content-center">
              <h2>{{ category.name }}</h2>
              <a href="{% url "gallery:category_detail" slug=category.slug %}">View more</a>
            </figcaption>                    
          </figure>
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
          </div>
        </div>
      </div>
    {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}

    <div class="col-12">
      <h2 class="col-6 tm-text-primary">Photos</h2>
    </div>
    {% for photo in photos %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <figure class="effect-ming tm-video-item">
            <img src="{{ photo.photo.url }}" alt="{{ photo.title }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <figcaption class="d-flex align-items-center justify-content-center">
              <h2>{{ photo.caption }}</h2>
              <a href="{% url "gallery:photo_detail" slug=photo.slug %}">View more</a>
            </figcaption>                    
          </figure>
          <div class="card-body">
            <h5 class="card-title">{{ photo.title }}</h5>
          </div>
        </div>
      </div>
    {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}

    <div class="col-12">
      <h2 class="col-6 tm-text-primary">Videos</h2>
    </div>
    {% for video in videos %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <figure class="effect-ming tm-video-item">
            <video autoplay muted loop id="tm-video">
              <source src="{{ video.video.url }}" type="video/mp4">
            </video> 
            <figcaption class="d-flex align-items-center justify-content-center">
              <h2>{{ video.caption }}</h2>
              <a href="{{ video.get_absolute_url }}">View more</a>
            </figcaption>                    
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light">{{ video.created_at|date:"d M Y" }}</span>
            <span>{{ video.views }} views</span>
          </div>
        </div>
      </div>
      {% empty %}
        <p>There are no results for your query.</p>
      {% endfor %}
      <p><a href="{% url 'gallery:home' %}">Search again</a></p>
  </div> <!-- row -->

</div> <!-- container-fluid, tm-container-content -->

{% endif %}
{% endblock %}

{% comment %} TODO: ADD INFINITE SCROLL {% endcomment %}
