{% extends "common/base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card custom-card">
        <div class="card-header">
          <h5 class="card-title">Change your password</h5>
        </div>
        <div class="card-body">
          <form method="post" class="password-change-form">
            {% for field in form %}
              <div class="mb-3">
                {{ field.errors }}  
                {{ field.label_tag }} {{ field }}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100 mt-3">Change</button>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let form_container = document.querySelector(".password-change-form");
  console.log(form_container);
  let inputs = form_container.querySelectorAll("input");
  console.log(inputs);

  for(let input of inputs){
      input.classList.add("form-control");
  }
</script>
{% endblock %}
