{% extends "common/base.html" %}
{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card custom-card">
        <div class="card-header">
          <h5 class="card-title">PASSWORD RESET SENT</h5>
        </div>
        <div class="card-body">
          <h3>Email Sent</h3>
          <div class="form-body">
            <p style="font-weight: bold; margin-bottom: 10px;">We've emailed you with instructions for resetting your password. If an account exists with the email you entered, you should receive it shortly</p>
            <p style="font-weight: bold; margin-bottom: 10px;">If you didn't receive an email, make sure you've entered the email address you registered with, and check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
